

       @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* 

{

  box-sizing: border-box;

    margin: 0;
    padding: 0;

}


 

p {

  font-family: 'Permanent Marker';

   
    margin-bottom: 1%;
  margin-left: 3%;

 }

img

   {
    
 height: 350px;

   float: left;

margin-bottom: 2%;
       margin-left: 2%;
    width:25%;
     
   }

.container

 {

  float: left;

    margin-right: 1%;

 }
